.jumbotron {
    color: #fff;
    background-position-y: 10%;
    color: #fff;
    background-color: #800000;
}

.btn-primary {
    background-color: blue;
    border-color: #fff;
    font-weight: bold;
}
#currentTime {
    padding-top: 10px;
    font-size: 30px;
}
